.breadcrumb li {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 20px;
}
.product-page-info {
  display: flex;
  flex-direction: column;
  & #image {
    width: 50%;
    height: 50%;
  }
}

details h2 {
  color: red;
  text-transform: uppercase;
  display: flex;
}
